@use '../helpers/mixins.scss' as *;
@use 'sass:math';


.main {
    width: 100%;
    margin: 0 auto;
    max-width: 768px;
    min-width: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 38px;

    @media(max-width:380px) {
        padding-top: 37px;
        padding-bottom: 8px;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(196.56deg, rgba(0, 0, 0, 9.5e-05) 10.43%, rgba(21, 5, 52, 0.641925) 30.66%, rgba(0, 0, 0, 0.855327) 37.66%, rgba(9, 1, 25, 0.95) 45.57%, rgba(0, 0, 0, 0.95) 77.38%, rgba(5, 1, 14, 0.95) 94.32%);
    }

    &::before {
        content: '';
        position: absolute;
        filter: blur(60px);
        background-color: rgba(214, 19, 252, 0.62);
        top: -36px;
        left: 0;
        width: 100%;
        height: 113px;
        z-index: 3;
        border-radius: 50%;

    }

    &__content {
        position: relative;
        z-index: 10;
    }

    &__title {
        @include fz (45, 42);
        text-align: center;
        font-weight: 900;
        color: var(--color-white);
        line-height: 46px;
        @include adaptiveValue('margin-bottom', 24, 16, 390, 375, 1);

    }

    &__services {
        display: flex;
        margin: 0 -3px;
    }

    &__column {
        flex: 0 1 33.33333%;
        padding: 0 3px;
    }

    &__item {
        border-radius: 12px;
        overflow: hidden;
    }

    &__img {
        padding: 0 0 133.55% 0;
        // aspect-ratio: 3/4;
        position: relative;

        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            width: 100%;
            height: 100%;


        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('/assets/images/shadow.svg') no-repeat center;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            box-shadow: 0px 0px 22.8px 0px rgba(255, 130, 228, 0.24);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(4, 6, 26, 0.0001) 62.04%, rgba(6, 9, 37, 0.558287) 76.68%, #15072F 100%);
        }

        & span {
            position: absolute;
            // bottom: 9px;
            // left: 12px;

            bottom: 0;
            left: 0;
            padding: 9px 12px;
            width: 100%;
            z-index: 4;
            color: var(--color-white);
            font-weight: 400;
            font-size: 12px;
            // max-width: 85px;
            letter-spacing: .6px;
            line-height: 110%;
        }
    }

    &__body {
        @include adaptiveValue('margin-bottom', 34, 26, 390, 375, 1);
    }

    &__list {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        column-gap: 52px;
    }

    &__link {
        & a {
            font-size: 13px;
            line-height: 18px;
            white-space: nowrap;
            text-decoration: underline;
            font-weight: 200;
            opacity: .5;
            text-decoration: underline;
            text-underline-offset: 0.2em;
            text-decoration-offset: 0%;
            text-decoration-thickness: 0%;
            -webkit-text-decoration-color: currentColor;
            -webkit-text-decoration-style: solid;
            -webkit-text-decoration-thickness: 1px;




        }
    }

    & .ibg {
        @media(max-width:380px) {
            height: 112%;
        }
    }

    &__close {
        position: relative;
        z-index: 3;
        flex: 1 1 auto;

        & a {
            padding: 6px;
        }
    }
}

.form {
    position: relative;
    z-index: 3;
    @include adaptiveValue('margin-bottom', 34, 28, 391, 375, 1);


    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        @include adaptiveValue('margin-bottom', 16, 8, 390, 375, 1);

    }

    &__item {
        color: var(--color-white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        column-gap: 5px;
    }

    &__label {
        position: relative;
        height: 56px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 100px;
        padding: 9px 56px 9px 24px;
        border: 1px solid transparent;

        & input {
            visibility: hidden;
            position: absolute;
            pointer-events: none;

            &:checked~.form__decor {
                opacity: 0;
                transition: .2s ease;
                pointer-events: none;
            }

            &:checked~.form__offer {
                background: var(--color-white);
                color: #000000;

                &::before {
                    background: transparent;
                }
            }
        }

        &:has(input:checked) {
            background-color: rgba(255, 255, 255, 0.3);
            border-color: var(--color-white);
        }

        @media(max-width:340px) {
            padding: 9px 20px;
        }
    }

    &__title {

        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;


    }

    &__item-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
       

        & span {
            font-weight: 400;
            color: rgba(255, 255, 255, .7);
            text-transform: initial;
        }
    }

    &__price {
        // flex: 0 1 200px;
        font-weight: 400;
        color: rgba(255, 255, 255, .7);
        font-size: 16px;
        line-height: 120%;
        // display: flex;
        // justify-content: flex-end;

    }

    &__offer {
        position: absolute;
        top: -11px;
        right: 25px;
        max-width: 119px;
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg, #BC1FEF 0%, #0035FF 100%);
        border-radius: 100px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Roboto';
        font-size: 13px;
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.5);


        &::before {
            content: '';
            position: absolute;
            top: -1.1px;
            left: -1px;
            right: -1.4px;
            bottom: -1px;
            background: linear-gradient(270deg, #00B5FF 0%, #632AF7 53.01%, #FF96F4 100%);
            border-radius: 101.2px;
            z-index: -1;

        }
    }

    &__decor {
        position: absolute;
        top: -2px;
        right: -1px;
        pointer-events: none;
        z-index: -1;
    }

    &__btn {
        height: 56px;
        background-color: var(--color-white);
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        width: 100%;
        border: none;
        border-radius: 100px;

        &:active {
            opacity: .8;
        }
    }

}

.es .main__link a,
.ja .main__link a,
.de .main__link a,
.fr .main__link a {
    font-size: 10px;
}

.es .main__list {
    column-gap: 30px;
}

.de .main__list,
.fr .main__list,
.pt .main__list {
    column-gap: 20px;
}

.de .form__title,
.fr .form__title,
.es .form__title,
.pt .form__title {
    font-size: 12px;
}

.de .form__item-wrapper,
.fr .form__item-wrapper,
.es .form__item-wrapper,
.pt .form__item-wrapper {
    & span {
        font-size: 10px;
    }
}

.de .form__price,
.fr .form__price,
.es .form__price,
.pt .form__price {
    font-size: 12px;
}

.de .form__offer,
.fr .form__offer,
.es .form__offer,
.pt .form__offer {
    font-size: 12px;
}