@use 'sass:math';
@use './helpers/mixins.scss' as *;


* {
    -webkit-tap-highlight-color: transparent; 
    -webkit-font-smoothing: antialiased;
}

input, button {
    -webkit-appearance: none; 
}

input[type="text"], 
input[type="tel"], 
input[type="email"] {
    font-size: 16px;
}

.container {
    max-width: em($maxWidthContainer);
    padding: 0 rem(math.div($containerPadding, 2));
    margin-inline: auto;
}

body {
    font-family: var(--font-family-base);

    &._lock {
        overflow: hidden;
    }
}


a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: .2s;
}

a {
    color: var(--color-white);
}



.wrapper {
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    z-index: 20;
}

[data-fullscreen] {
    min-height: 100vh;

    .touch & {
        height: calc(var(--vh, 1vh) * 100);

        @media (max-width: 768px) {
            transition: height 0.2s;
        }
    }
}

[class*="-ibg"] {
    position: relative;

    .ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

