button {
    cursor: pointer;
  }
  
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
  em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    color: inherit;
  
  }

  a{
    display: inline-flex;
  }
  
  input[type="checkbox"]{
    margin: 0;
    padding: 0;
  }
  body {
    line-height: 1;
    font-weight: 400;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body._lock{
    overflow: hidden;
  }
  
  ol, ul {
    list-style: none;
  }
  
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  input[type='number'],
  input[type="number"]:hover,
  input[type="number"]:focus {
    -webkit-appearance: none;
            appearance: none;
    -moz-appearance: textfield;
  }
  
  
  
  blockquote, q {
    quotes: none;
  }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
  
  input {
    outline: 0;
  }
  body ._lock{
    overflow: hidden;
  }

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}


img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}
a {
    color: var(--color-white);
}

button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */


/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
